
@{
    ViewBag.Title = "Index";
}


<section class="page-title">
    <div class="bg-overlay"></div>
    <div class="bg-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 page-title-inner">
                <h2>Gallery 3 Columns</h2>
                <p class="subtitle">This is a Awesome Subtitle here</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="page-location clearfix">
                    <div class="location">
                        <h6><a href="index.html">Home</a></h6>
                        <h6>Gallery 3 Columns</h6>
                    </div>
                    <div class="back-home hidden-xs hidden-sm"><a href="index.html">&larr; Back to Home</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gallery">
    <div class="container">
        
        <div class="row">
            <div id="Grid">
                <div class="col-md-4 col-sm-6 mix animals mix_all" data-cat="1">
                    <div class="gallery-post">
                        <div class="g-thumb">
                            <a href="/assets/images/gallery/1.jpg" class="fresco" data-fresco-group="gallery3">
                                <img src="/assets/images/gallery/1.jpg" alt="">
                                <div class="overlay">
                                    <div class="inner">
                                        <h4>Joyous Rain</h4>
                                        <span><i class="fa fa-folder-open"></i>Animals</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mix community arts mix_all" data-cat="1">
                    <div class="gallery-post">
                        <div class="g-thumb">
                            <a href="/assets/images/gallery/2.jpg" class="fresco" data-fresco-group="gallery3">
                                <img src="/assets/images/gallery/2.jpg" alt="">
                                <div class="overlay">
                                    <div class="inner">
                                        <h4>The Boy, The Temple, The City</h4>
                                        <span><i class="fa fa-folder-open"></i>Community, Arts</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mix children mix_all" data-cat="3">
                    <div class="gallery-post">
                        <div class="g-thumb">
                            <a href="/assets/images/gallery/3.jpg" class="fresco" data-fresco-group="gallery3">
                                <img src="/assets/images/gallery/3.jpg" alt="">
                                <div class="overlay">
                                    <div class="inner">
                                        <h4>Charity: Water</h4>
                                        <span><i class="fa fa-folder-open"></i>Children</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mix animals children mix_all" data-cat="2">
                    <div class="gallery-post">
                        <div class="g-thumb">
                            <a href="/assets/images/gallery/4.jpg" class="fresco" data-fresco-group="gallery3">
                                <img src="/assets/images/gallery/4.jpg" alt="">
                                <div class="overlay">
                                    <div class="inner">
                                        <h4>A young girl at mud house</h4>
                                        <span><i class="fa fa-folder-open"></i>Animals, Children</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mix arts mix_all" data-cat="2">
                    <div class="gallery-post">
                        <div class="g-thumb">
                            <a href="/assets/images/gallery/5.jpg" class="fresco" data-fresco-group="gallery3">
                                <img src="/assets/images/gallery/5.jpg" alt="">
                                <div class="overlay">
                                    <div class="inner">
                                        <h4>Besties are found everywhere</h4>
                                        <span><i class="fa fa-folder-open"></i>Arts</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mix community animals mix_all" data-cat="3">
                    <div class="gallery-post">
                        <div class="g-thumb">
                            <a href="/assets/images/gallery/6.jpg" class="fresco" data-fresco-group="gallery3">
                                <img src="/assets/images/gallery/6.jpg" alt="">
                                <div class="overlay">
                                    <div class="inner">
                                        <h4>Lakefront shopping</h4>
                                        <span><i class="fa fa-folder-open"></i>Community, Animals</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="pages pages-center">
                    <li><span class="btn btn-bordered current">1</span></li>
                    <li><a class="btn btn-bordered" href="#">2</a></li>
                    <li><a class="btn btn-bordered" href="#">3</a></li>
                    <li><a class="btn btn-bordered" href="#">4</a></li>
                    <li><a class="next btn btn-bordered" href="#">Next <i class="fa fa-angle-double-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

