
@{
    ViewBag.Title = "Index";
}

<section class="page-title">
    <div class="bg-overlay"></div>
    <div class="bg-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 page-title-inner">
                <h2>Causes Grid Style</h2>
                <p class="subtitle">This is a Awesome Subtitle here</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="page-location clearfix">
                    <div class="location">
                        <h6><a href="index.html">Home</a></h6>
                        <h6>Causes Grid</h6>
                    </div>
                    <div class="back-home hidden-xs hidden-sm"><a href="index.html">&larr; Back to Home</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="causes">
    <div class="container">

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="cause-post">
                    <div class="cause-thumb">
                        <img src="/assets/images/causes/1.jpg" alt="">

                    </div>
                    <div class="cause-content">
                        <div class="cause-holder">

                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                            </div>
                        </div>
                        <h4><a href="cause-details.html">Kids of the Sahel</a></h4>
                        <p>American Apparel ennui hashtag locavore</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="cause-post">
                    <div class="cause-thumb">
                        <img src="/assets/images/causes/2.jpg" alt="">

                    </div>
                    <div class="cause-content">
                        <div class="cause-holder">

                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                            </div>
                        </div>
                        <h4><a href="cause-details.html">Balkumari School</a></h4>
                        <p>American Apparel ennui hashtag locavore</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="cause-post">
                    <div class="cause-thumb">
                        <img src="/assets/images/causes/3.jpg" alt="">

                    </div>
                    <div class="cause-content">
                        <div class="cause-holder">


                        </div>
                        <h4><a href="cause-details.html">New life children’s home</a></h4>
                        <p>American Apparel ennui hashtag locavore</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="cause-post">
                    <div class="cause-thumb">
                        <img src="/assets/images/causes/4.jpg" alt="">
                        <div class="hover">
                            <div class="inner">
                                <a href="#donate-modal" data-toggle="modal" class="btn btn-accent">Donate Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="cause-content">
                        <div class="cause-holder">
                            <div class="clearfix">
                                <span class="raised pull-left">Raised: $2,400</span>
                                <span class="goal pull-right">Goal: $6,180</span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                            </div>
                        </div>
                        <h4><a href="cause-details.html">Mangos in Mali</a></h4>
                        <p>American Apparel ennui hashtag locavore</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="cause-post">
                    <div class="cause-thumb">
                        <img src="/assets/images/causes/5.jpg" alt="">
                        <div class="hover">
                            <div class="inner">
                                <a href="#donate-modal" data-toggle="modal" class="btn btn-accent">Donate Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="cause-content">
                        <div class="cause-holder">
                            <div class="clearfix">
                                <span class="raised pull-left">Raised: $2,400</span>
                                <span class="goal pull-right">Goal: $6,180</span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                            </div>
                        </div>
                        <h4><a href="cause-details.html">This country in Nepal</a></h4>
                        <p>American Apparel ennui hashtag locavore</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="cause-post">
                    <div class="cause-thumb">
                        <img src="/assets/images/causes/6.jpg" alt="">
                        <div class="hover">
                            <div class="inner">
                                <a href="#donate-modal" data-toggle="modal" class="btn btn-accent">Donate Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="cause-content">
                        <div class="cause-holder">
                            <div class="clearfix">
                                <span class="raised pull-left">Raised: $2,400</span>
                                <span class="goal pull-right">Goal: $6,180</span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                            </div>
                        </div>
                        <h4><a href="cause-details.html">They grow up in peace</a></h4>
                        <p>American Apparel ennui hashtag locavore</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>



<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Members</h4>

                <p>Although started in 2003, Vision 2020 has grown rapidly because of its valuable vision. One of the reasons for this rapid growth is that the members recognise that there is a need for a concerted effort to uplift the life of the needy people.</p>
                <img src="/assets/images/a7.jpg" class="img-responsive">
            </div>



        </div>
    </div>
</section>



<section class="volnuteers">
    <div class="container">
        <div class="row section-header">
            <div class="col-sm-12">
                <h3>Executive Committee Members of Vision 2020 for 2015 - 16</h3>

                <p>American Apparel ennui hashtag locavore High Life Schlitz Carles kitsch. Cold-pressed selvage Bushwick chia Blue Bottle, mixtape cray ugh wolf</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-sm-4 padding">
                <div class="volunteer-post">
                    <div class="v-thumb">
                        <img src="/assets/images/blog/a-1.jpg" alt="">
                        <div class="hover">
                            <div class="social-media">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="v-content">
                        <h4>Mr Kumar Kailsam</h4>
                        <span class="role">	President</span>

                        <p>American Apparel ennui hashtag locavore High Life Schlitz Carles kitsch</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 padding">
                <div class="volunteer-post">
                    <div class="v-thumb">
                        <img src="/assets/images/blog/a-3.jpg" alt="">
                        <div class="hover">
                            <div class="social-media">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="v-content">
                        <h4>Ms Hema Rao</h4>
                        <span class="role">Vice President</span>

                        <p>American Apparel ennui hashtag locavore High Life Schlitz Carles kitsch</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 padding">
                <div class="volunteer-post">
                    <div class="v-thumb">
                        <img src="/assets/images/blog/a-2.jpg" alt="">
                        <div class="hover">
                            <div class="social-media">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="v-content">
                        <h4>Mr Shanker Krishnan</h4>
                        <span class="role">	Secretary</span>

                        <p>American Apparel ennui hashtag locavore High Life Schlitz Carles kitsch</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 padding">
                <div class="volunteer-post">
                    <div class="v-thumb">
                        <img src="/assets/images/blog/a-4.jpg" alt="">
                        <div class="hover">
                            <div class="social-media">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="v-content">
                        <h4>Mr Ganesh Natarajan</h4>
                        <span class="role">Treasurer</span>

                        <p>American Apparel ennui hashtag locavore High Life Schlitz Carles kitsch</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 padding">
                <div class="volunteer-post">
                    <div class="v-thumb">
                        <img src="/assets/images/blog/a-3.jpg" alt="">
                        <div class="hover">
                            <div class="social-media">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="v-content">
                        <h4>Ms Bhavna Lathigara</h4>
                        <span class="role">	Joint Treasurer</span>

                        <p>American Apparel ennui hashtag locavore High Life Schlitz Carles kitsch</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 padding">
                <div class="volunteer-post">
                    <div class="v-thumb">
                        <img src="/assets/images/blog/a-1.jpg" alt="">
                        <div class="hover">
                            <div class="social-media">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="v-content">
                        <h4>Mr Ratesh Gumbhar</h4>
                        <span class="role">		Executive Member</span>

                        <p>American Apparel ennui hashtag locavore High Life Schlitz Carles kitsch</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 padding">
                <div class="volunteer-post">
                    <div class="v-thumb">
                        <img src="/assets/images/blog/a-2.jpg" alt="">
                        <div class="hover">
                            <div class="social-media">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="v-content">
                        <h4>Mr Rohan Rajan</h4>
                        <span class="role">Executive Member</span>

                        <p>American Apparel ennui hashtag locavore High Life Schlitz Carles kitsch</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 padding">
                <div class="volunteer-post">
                    <div class="v-thumb">
                        <img src="/assets/images/blog/a-3.jpg" alt="">
                        <div class="hover">
                            <div class="social-media">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="v-content">
                        <h4>Ms Nitasha Bhatia</h4>
                        <span class="role">	Executive Member</span>

                        <p>American Apparel ennui hashtag locavore High Life Schlitz Carles kitsch</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 padding">
                <div class="volunteer-post">
                    <div class="v-thumb">
                        <img src="/assets/images/blog/a-4.jpg" alt="">
                        <div class="hover">
                            <div class="social-media">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="v-content">
                        <h4>Mr Kiran Bhatia</h4>
                        <span class="role">Treasurer</span>

                        <p>American Apparel ennui hashtag locavore High Life Schlitz Carles kitsch</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 padding">
                <div class="volunteer-post">
                    <div class="v-thumb">
                        <img src="/assets/images/blog/a-3.jpg" alt="">
                        <div class="hover">
                            <div class="social-media">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="v-content">
                        <h4>Ms Anu Shivram</h4>
                        <span class="role">	Joint Treasurer</span>

                        <p>American Apparel ennui hashtag locavore High Life Schlitz Carles kitsch</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 padding">
                <div class="volunteer-post">
                    <div class="v-thumb">
                        <img src="/assets/images/blog/a-1.jpg" alt="">
                        <div class="hover">
                            <div class="social-media">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="v-content">
                        <h4>Mr Ram Ramaswami</h4>
                        <span class="role">		Executive Member</span>

                        <p>American Apparel ennui hashtag locavore High Life Schlitz Carles kitsch</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 padding">
                <div class="volunteer-post">
                    <div class="v-thumb">
                        <img src="/assets/images/blog/a-2.jpg" alt="">
                        <div class="hover">
                            <div class="social-media">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="v-content">
                        <h4>Mr Pravin Kumar</h4>
                        <span class="role">Executive Member</span>

                        <p>American Apparel ennui hashtag locavore High Life Schlitz Carles kitsch</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 padding">
                <div class="volunteer-post">
                    <div class="v-thumb">
                        <img src="/assets/images/blog/a-3.jpg" alt="">
                        <div class="hover">
                            <div class="social-media">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="v-content">
                        <h4>Mr Vibha Rana</h4>
                        <span class="role">	Executive Member</span>

                        <p>American Apparel ennui hashtag locavore High Life Schlitz Carles kitsch</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 padding">
                <div class="volunteer-post">
                    <div class="v-thumb">
                        <img src="/assets/images/blog/a-1.jpg" alt="">
                        <div class="hover">
                            <div class="social-media">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="v-content">
                        <h4>Ms Beema Yussouf</h4>
                        <span class="role">		Executive Member</span>

                        <p>American Apparel ennui hashtag locavore High Life Schlitz Carles kitsch</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 padding">
                <div class="volunteer-post">
                    <div class="v-thumb">
                        <img src="/assets/images/blog/a-2.jpg" alt="">
                        <div class="hover">
                            <div class="social-media">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="v-content">
                        <h4>Ms Charu Bhatia</h4>
                        <span class="role">Executive Member</span>

                        <p>American Apparel ennui hashtag locavore High Life Schlitz Carles kitsch</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>