
@{
    ViewBag.Title = "Index";
}


<section class="page-title">
    <div class="bg-overlay"></div>
    <div class="bg-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 page-title-inner">
                <p class="subtitle">Help the NEEDY!</p>
            </div>
        </div>
        @*<div class="row">
            <div class="col-sm-12">
                <div class="page-location clearfix">
                    <div class="location">
                        <h6><a href="/">Home</a></h6>
                        <h6>About Us</h6>
                    </div>
                    <div class="back-home hidden-xs hidden-sm"><a href="index-2.html">&larr; Back to Home</a></div>
                </div>
            </div>
        </div>*@
    </div>
</section>

<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Who we are ? get more info</h4>
               
                <p>VISION 2020 Australia is a voluntary, non-profit and a charitable organisation registered in the State of New South Wales, Australia. Set up in 2003 with the objective of serving the most needy and helpless in our society, VISION 2020’s initial focus is the welfare of children including children living on streets, working in exploitative conditions, children who are sex workers and basically children who have been denied of their basic rights and who do not have a future to look forward to. The focus is now extended to other areas such as the welfare of elderly and infirm. Up until mid-2014, Vision2020 has helped to complete 16 projects of high merit across India and Nepal at a cost of over $120,000.</p>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="service-post">
                            <div class="service-icon">
                                <i class="fa fa-heart-o"></i>
                            </div>
                            <div class="service-content">
                                <h5>Most trusted</h5>
                             
                              
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="service-post">
                            <div class="service-icon">
                                <i class="fa fa-hand-o-up"></i>
                            </div>
                            <div class="service-content">
                                <h5>goal requirements</h5>
                           
                             
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="service-post">
                            <div class="service-icon">
                                <i class="fa fa-eye"></i>
                            </div>
                            <div class="service-content">
                                <h5>charitable impact</h5>
                         
                                <p>Chillwave YOLO photo booth </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="service-post">
                            <div class="service-icon">
                                <i class="fa fa-child"></i>
                            </div>
                            <div class="service-content">
                                <h5>Help People</h5>
                         
                                <p>Chillwave YOLO photo booth </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>



<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Vision</h4>
               
                <p>
                    Many times we all have felt that our individual efforts are inconsequentially small, perhaps a drop in the ocean and in a sense futile because while they might feed a hungry child one day it will not necessarily liberate the child in a sustainable manner.
                    But TOGETHER we stand a better chance of making a sustainable difference and overcoming these shortcomings.<br><br>
                    Of course, it is pertinent to ask why do we need one more charity organisation when so many others operate with the same vision?<br><br>
                    There is a clear difference between Vision2020 and most other charity organisations.  Vision2020 is committed to ensuring funds are not wasted in administration and management expenses, and its processes ensure absolute transparency and accountability.<br><br>
                    Collective effort will help them grow up to lead meaningful lives where they not only cease to be a burden on society but actually make a positive contribution to it. Just like drops of water that go on to make a river TOGETHER we can make a difference in the lives of many.
                </p>
            </div>
            <div class="col-md-12 margin">
                <div class="col-md-7">
                    <h5 class="margin-2" style="text-align:left;    color: #72c02c;">VISION 2020 is committed to</h5>
                    <ol class="margin-bottom-20">
                        <li class="list">Ensuring no wastage of funds in all its processes. It will apply all donated funds and the total net collection to project implementation and completion of the approved charity projects.</li>
                        <li class="list">Paying no salaries or fees to its members and volunteers.</li>
                        <li class="list">Implementing transparent and 100% accountable operations, project specific and verifiable use of funds, and clear project appraisal processes.</li>
                        <li class="list"> Funding not organisations but specific projects of merit managed by high quality organisations.</li>
                        <li class="list"> Providing periodic and comprehensive reports to all its members and supporters.</li>
                        <li class="list">Ensuring all VISION 2020 members and other related parties have the opportunity to contribute to the activities of the organisation. (For example, VISION 2020’s support for a project depends on the merit and strength of sponsorship of the project by one or more of its members, the member(s) willingness to undertake responsibility to monitor the progress of the project and provide feedback on progress and proper use of the project funds. This requirement will directly contribute to the transparency, effectiveness and satisfaction of VISION 2020 members and donors).</li>
                        <li class="list">Maximum use of the expertise of all its members and volunteers. It harnesses the skills of all its volunteers to carry out the various functions of Vision2020.</li>
                        <li class="list"> Linking people who have the resources of money, skills, materials or time with development projects to make a difference in the lives of deprived people.</li>
                        <li class="list"> Forming working level cooperation with other welfare or community organisations that is seeking funding for a well defined and distinct individual project without being permanently tied to or having a formal permanent link with any other organisations. (This is key to maintain VISION 2020’s ability to support projects on the basis of merit alone).</li>
                        <li class="list"> Ensuring that the Vision2020 funding being transparently linked to clear and sustainable outcomes. (In order to fully meet these objectives, VISION 2020’s funding preference is to support basic and infrastructure needs rather than consumables and improvement projects).</li>
                    </ol>
                </div>
                <div class="col-md-5" style="margin-top: 10%;">
                    <img src="/assets/images/a5.jpg" class="img-responsive">
                </div>
            </div>



        </div>
    </div>
</section>




<section id="page-wrap" class="regulation-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">


                <div class="col-sm-12 margin">
                    <h4>Regulation</h4>
                    <p>Vision2020 is incorporated as a public association with Department of Fair Trading, NSW (Incorporation #: INC9878901). The incorporation as a public association allows  Vision 2020 to continue as an association of active members without a time limit and beyond the current members and  founder members. It also avoids the onerous administrative and reporting requirements of a public company set up.</p><br>
                    <p>Vision 2020 is also registered with the Office of Liquor, Gaming and Racing as an approved charity for fund raising. The approval authority is available to members and potential members for review.The approval needs to be reviewed every five years.</p><br>
                    <p>Vision 2020 has appointed an Independent Auditor for auditing the financial activities of the association to comply with the requirements of Office of Liquor, Gaming and Racing.</p><br>
                    <p>Vision 2020 is registered with Australian Taxation Office.</p><br>

                    <p>Vision 2020 complies with all state and federal regulations and submits annual reports or statements as required by the relevant  state and federal departments. </p><br>
                    <p><a href="#" target="_blank"> Click Here </a> to download Vision2020 Constitution file</p>

                </div>



            </div>
        </div>
    </div>
</section>



