
@{
    ViewBag.Title = "Index";
}


<section class="page-title">
    <div class="bg-overlay"></div>
    <div class="bg-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 page-title-inner">
                <h2>Mission to Help the NEEDY!</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="page-location clearfix">
                    <div class="location">
                        <h6><a href="index-2.html">Home</a></h6>
                        <h6><a href="blog.html">Blog Entries</a></h6>
                        <h6>The Stream of the Dying</h6>
                    </div>
                    <div class="back-home hidden-xs hidden-sm"><a href="index-2.html">&larr; Back to Home</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="page-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row section-header" style="text-align:center;">

                </div>
                <div class="col-sm-12 margin">

                    <h3>You can help</h3>
                    <span class="line-seperator"></span>
                    <p>If you believe the helpless and miserable conditions of millions of people MUST be changed please become part of VISION 2020. There are so many ways you can help and here are some suggestions:</a></p>
                </div>
                <div class="col-sm-12 margin">

                    <h4>Become a member:</h4>
                    <span class="line-seperator"></span>

                    <p>
                        VISION 2020 welcomes new members and would love our small family of volunteers to grow. Life Membership is A$100 per person for life. For those who are here on a temporary basis or otherwise prefer to pay on an annual basis, the annual membership is $10 per person per year.<br><br>
                        <a href="http://www.mitufoundation.org" target="_blank"> Click Here</a> to download Annual membership form.
                    </p>
                    <a href="http://www.mitufoundation.org" target="_blank"> Click Here</a> to download Annual membership form.</p>

                </div>
                <div class="col-sm-12 margin">

                    <h4>Make a donation:</h4>
                    <span class="line-seperator"></span>

                    <p>One off or regular monthly donation for as little as $10 you can make a positive change in a child's life.  <a href="#" target="_blank"> Click Here</a> to download the donation form. Talk to us about regular direct debits</p>

                </div>
                <div class="col-sm-12 margin">

                    <h4>Volunteer your time and skills:</h4>
                    <span class="line-seperator"></span>

                    <p>If you have some time to spare you can get involved with the VISION 2020 group of volunteers. You may have skills or network that could be employed here or abroad. You may find this fulfilling while making a difference in the lives of deprived and disadvantaged amongst us. Get in touch with us for more details. <a href="#" target="_blank"> Click Here</a> to contact us.</p>

                </div>
                <div class="col-sm-12 margin">

                    <h4>Start your own group: </h4>
                    <span class="line-seperator"></span>
                    <p>If you live in another state or country and are interested in VISION 2020's objectives and activities you can start your own group. We will help you start up.  <a href="#" target="_blank"> Click Here</a> to contact us.</p>

                </div>
                <div class="col-sm-12 margin">

                    <h4>Vision 2020 Gift Cheque for all occasions </h4>
                    <span class="line-seperator"></span>
                    <p>
                        Vision 2020 gift cheque of $10, $20, $50 & $100 denominations that can be used for all occasions such as birthdays, anniversary celebrations, marriage celebrations and other family, social and religious occasions are available (an option that hosts can suggest). This will be a nice way of helping those who are not fortunate to celebrate anything in their life. It will also help invitees as they usually struggle to find something suitable for such occasions and spend hours looking for gifts.
                    </p>

                </div>


            </div>

        </div>

    </div>
</section>
