<div class="bannercontainer">
    <div class="banner">
        <ul>
            <li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="">
                <!-- MAIN IMAGE -->
                <img src="/assets/images/slider/1.jpg" alt="slidebg1" data-lazyload="/assets/images/slider/1.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption lfl tp-resizeme"
                     data-x="20"
                     data-y="120"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="1200"
                     style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">
                    <h2>YOU CAN MAKE A DIFFERENCE</h2>
                </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption customin tp-resizeme"
                     data-x="20"
                     data-y="190"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="1400"
                     style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">
                    <span class="line-seperator"></span>
                </div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption lfl tp-resizeme"
                     data-x="20"
                     data-y="230"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="1800"
                     style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;">
                    <p>Gentrify ethical Banksy, meh chillwave freegan mlkshk Etsy swag quinoa trust fund dreamcatcher Tumblr taxidermy. Street art <br>keytarHelvetica tildeThundercats deep vtaxidermy keffiyeh American Apparel</p>
                </div>
                <!-- LAYER NR. 4 -->
                <div class="tp-caption tp-resizeme"
                     data-x="20"
                     data-y="300"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="2400"
                     style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">
                  
                </div>
                <!-- LAYER NR. 5 -->
                <div class="tp-caption tp-resizeme"
                     data-x="140"
                     data-y="300"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="2400"
                     style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">
                   
                </div>
            </li>
            <li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="">
                <!-- MAIN IMAGE -->
                <img src="/assets/images/slider/2.jpg" alt="slidebg1" data-lazyload="/assets/images/slider/2.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption lfl tp-resizeme"
                     data-x="20"
                     data-y="120"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="1200"
                     style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">
                    <h2>Raise money for awesome causes</h2>
                </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption customin tp-resizeme"
                     data-x="20"
                     data-y="190"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="1400"
                     style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">
                    <span class="line-seperator"></span>
                </div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption lfl tp-resizeme"
                     data-x="20"
                     data-y="230"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="1800"
                     style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;">
                    <p>Gentrify ethical Banksy, meh chillwave freegan mlkshk Etsy swag quinoa trust fund dreamcatcher Tumblr taxidermy. Street art <br>keytarHelvetica tildeThundercats deep vtaxidermy keffiyeh American Apparel</p>
                </div>
                <!-- LAYER NR. 4 -->
                <div class="tp-caption tp-resizeme"
                     data-x="20"
                     data-y="300"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="2400"
                     style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">
                    
                </div>
                <!-- LAYER NR. 5 -->
                <div class="tp-caption tp-resizeme"
                     data-x="150"
                     data-y="300"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="2400"
                     style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">
                  
                </div>
            </li>
            <li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="">
                <!-- MAIN IMAGE -->
                <img src="/assets/images/slider/3.jpg" alt="slidebg1" data-lazyload="/assets/images/slider/3.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption lfl tp-resizeme"
                     data-x="20"
                     data-y="120"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="1200"
                     style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">
                    <h2>Mission to Help the NEEDY!</h2>
                </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption customin tp-resizeme"
                     data-x="20"
                     data-y="190"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="1400"
                     style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">
                    <span class="line-seperator"></span>
                </div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption lfl tp-resizeme"
                     data-x="20"
                     data-y="230"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="1800"
                     style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;">
                    <p>Gentrify ethical Banksy, meh chillwave freegan mlkshk Etsy swag quinoa trust fund dreamcatcher Tumblr taxidermy. Street art <br>keytarHelvetica tildeThundercats deep vtaxidermy keffiyeh American Apparel</p>
                </div>
                <!-- LAYER NR. 4 -->
                <div class="tp-caption tp-resizeme"
                     data-x="20"
                     data-y="300"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="2400"
                     style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">
                  
                </div>
                <!-- LAYER NR. 5 -->
                <div class="tp-caption tp-resizeme"
                     data-x="150"
                     data-y="300"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="2400"
                     style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">
                  
                </div>
            </li>
        </ul>
        <div class="tp-bannertimer tp-bottom hidden-xs hidden-sm"></div>
    </div>
</div>
<section class="features">
    <div class="container">
        <div class="row section-header">
            <div class="col-sm-12">
                <h3>WHY YOU SHOULD CHOOSE vision 2020 ?</h3>
              
                <p>VISION 2020 is committed to ensuring that all its activities are free from any form of discrimination. It is not affiliated to any political or religious organisations. It does not have any preference based on political or religious grounds. Vision 2020 is also committed to applying 100% of all donations and net collections to complete the approved charity projects.</p>
            </div>
        </div>
       
    </div>
</section>


<section class="last-causes">
    <div class="container">
        <div class="row section-header">
            <div class="col-sm-12">
                <h3>how you can help?</h3>
              
                <p>If you believe the helpless and miserable conditions of millions of people MUST be changed, please become part of VISION 2020. There are so many ways you can help and here are some suggestions:</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div>
            <div class="col-md-3 col-sm-6">
                <div class="cause-post">
                    <div class="cause-thumb">
                        <img src="/assets/images/a1.jpg" alt="">
                       
                    </div>
                    <div class="cause-content">
                        <h4><a href="cause-details.html">Become a member</a></h4>
                        <p>
                            If you believe the helpless and miserable conditions of millions of people MUST be changed please become part of VISION 2020.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="cause-post">
                    <div class="cause-thumb">
                        <img src="/assets/images/a2.jpg" alt="">
                       
                    </div>
                    <div class="cause-content">

                        <h4><a href="cause-details.html">Make a donation</a></h4>
                        <p>One off or regular monthly donation for as little as $10 you can make a positive change in a child's life.  Click here to download the donation form. Talk to us about regular direct debits</p>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="cause-post">
                    <div class="cause-thumb">
                        <img src="/assets/images/a3.jpg" alt="">
                        
                    </div>
                    <div class="cause-content">
                        <h4><a href="cause-details.html">Gift Cheque</a></h4>
                        <p>Vision 2020 gift cheque of $10, $20, $50 & $100 denominations that can be used for all occasions such as birthdays, anniversary celebrations, marriage celebrations and other family, social and religious occasions </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="cause-post">
                    <div class="cause-thumb">
                        <img src="/assets/images/a4.jpg" alt="">
                        
                    </div>
                    <div class="cause-content">
                        <h4><a href="cause-details.html">Start your own group</a></h4>
                        <p>If you live in another state or country and are interested in VISION 2020’s objectives and activities you can start your own group. We will help you start up.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

