
@{
    ViewBag.Title = "Index";
}

<section class="page-title">
    <div class="bg-overlay"></div>
    <div class="bg-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 page-title-inner">
                <h2>Mission to Help the NEEDY!</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="page-location clearfix">
                    <div class="location">
                        <h6><a href="index-2.html">Home</a></h6>
                        <h6><a href="blog.html">Blog Entries</a></h6>
                        <h6>The Stream of the Dying</h6>
                    </div>
                    <div class="back-home hidden-xs hidden-sm"><a href="index-2.html">&larr; Back to Home</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="page-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row section-header" style="text-align:center;">
                    <h5 class="color">Start a chapter</h5>
                </div>
                <div class="col-sm-12 margin">

                    <p>If you believe the helpless and miserable conditions of millions of people MUST be changed please become part of VISION 2020. There are so many ways you can help and here are some suggestions:</p><br>
                    <p><b>Start your own group:</b></p><br>
                    <p>If you live in another state or country and are interested in VISION 2020’s objectives and activities you can start your own group. We will help you start up. <a href="#" target="_blank"> Click Here</a> to contact us.</p><br>


                </div>




            </div>

        </div>

    </div>
</section>
