
@{
    ViewBag.Title = "Our Projects";
}


    <div class="boxed">

        <section class="page-title">
            <div class="bg-overlay"></div>
            <div class="bg-image"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 page-title-inner">
                        <h2>Our Projects</h2>

                    </div>
                </div>
                @*<div class="row">
                    <div class="col-sm-12">
                        <div class="page-location clearfix">
                            <div class="location">
                                <h6><a href="index-2.html">Home</a></h6>
                                <h6><a href="blog.html">Blog Entries</a></h6>
                                <h6>The Stream of the Dying</h6>
                            </div>
                            <div class="back-home hidden-xs hidden-sm"><a href="index-2.html">&larr; Back to Home</a></div>
                        </div>
                    </div>
                </div>*@
            </div>
        </section>

        <section id="page-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row section-header" style="text-align:center;">
                            <h3>Projects History</h3>
                        </div>
                        <div class="col-sm-12 margin">
                            <h3>2016</h3>

                            <p>
                                "Devashrayam" a charity, in Palghat, Kerala. This charity is helping the poor, by serving food, offering medical assistance and education to poor children and in many other ways. They are in existence since 1996 and have been growing.<br><br>
                                Devashrayam has a temporary fibro structure upstairs on the first floor for the vocational training of 68 mentally retarded youths. This structure gets very hot in summer months and cannot be used. So the need for a permanent concrete structure to be built upstairs.<br><br>
                                Devashrayam (Palghat, Kerala) a charity that helps poor patients with food and medicines and helps mentally Retarded youth with vocational training. Supplying 250 meals everyday to poor and needy patients in Hospital.<br><br>
                                Supply of medicines to patients through some arranged pharmacies.<br><br>
                                Dialysis treatment for kidney patients arranged through Hospitals.<br><br>
                                Devashrayam has an English version in Youtube presented by Archana Subash. The same can be viewed, downloaded and projected on to a screen for viewing by an audience. They have a website and are on Facebook.<br><br>
                                <a href="http://www.devashrayam.org/" target="_blank">www.devashrayam.org</a>
                            </p>
                        </div>
                        <div class="col-sm-12 margin">
                            <h4>November 2014</h4>

                            <h5 class="color">Kedarnath Valley Project</h5>
                            <p>
                                On June 15, 2013, a cloudburst was reported in Kedarnath and Rambada region of Uttarakhand State. Due to the ensuing rains and floods, thousands of people lost their lives and many more were displaced.<br><br>
                                Jan Jagran Samiti, an NGO with a track record of 28 years, had submitted a proposal to build a weaving and production centre at Lamgaundi , Rudraprayag District by training about 300 widows and destitute women in nearby villages. <br><br>
                                Vision2020 took up the proposal and after due diligence, approved of funding to the tune of Rs.13.80 lacs for the construction work, out of which Rs.8.28 lacs has now been remitted for the construction work to start.<br><br>
                                The balance Rs.5.52 lacs is ready for disbursement, once the construction of the first tranche has been satisfactorily completed.
                            </p>

                        </div>
                        <div class="col-sm-12 margin">
                            <h4>October 2014</h4>


                            <p>
                                Funding has been approved for construction of a block of toilets for a public school (Sri Ayyaswami Aiyar High School) in suburban Chennai, Tamilnadu. The school currently has 300 girls and boys from low-to-medium socio-economic backgrounds and does not charge any fee. It has been operative since 1962 but there is just one toilet each for girls and boys. Hence there is not enough sanitation and hygiene available to the children. Funding for new toilets would go a long way in ensuring better hygiene and health for them.<br><br>
                                Once FCRA (Foreign Contribution Regulation Act) formalities are completed  by the management of the school and registration obtained, Vision2020 will deploy $23,000 AUD to the nominated bank approved as part of the registration process.
                            </p>

                        </div>
                        <div class="col-sm-12 margin">
                            <h4>June 2014</h4>

                            <h5 class="color">Nav Bharat Jagriti Kendra</h5>
                            <h6 style="font-weight:400;">We have processed funding of AUD16,000 for construction of an eye-care vision centre in rural Bihar,India to be operated by Nav Bharat Jagriti Kendra. </h6>
                            <p>
                                Background of NBJK:<br><br>
                                Four Engineering graduates who were very sensitive to the causes of disparity, exploitation and poverty, established Nav Bharat Jagriti Kendra in 1971. Motivated by the vision and ideas of the great Sarvodaya leader Lok Nayak Jai Prakash Narayan, these graduates made the decision to abandon their careers and comfortable lifestyles in order to explore ways to establish a just society, in which no one remains hungry, unemployed, exploited, or discriminated against. NBJK has grown significantly over the years. From its humble beginnings in a small dalit hamlet in the village of Bahera in Hazaribag in the state of Jharkhand, the organisation now has a presence in 10 districts of Jharkhand and Bihar. NBJK also works in close partnership with a networked of voluntary organisations and small groups in an additional 40 districts in the two states.<br><br>
                                The organisation aims at facilitating a just and egalitarian society through an integrated development approach, with special emphasis on the most vulnerable and disadvantaged sections of society including women, children and person with disabilities
                            </p>

                        </div>
                        <div class="col-sm-12 margin">
                            <h4>Feb 2014 </h4>

                            <h5 class="color">Multiple Initiatives Towards Upliftment, Bangalore</h5>
                            <p>
                                Vision2020 has donated $7318 towards Cost of a Van to transport Sanitary pads to rural locations, building of 15 incinerators for sanitary pad disposal and towards construction cost to raise the height of bathrooms. <br><br>
                                For further details <a href="http://www.mitufoundation.org" target="_blank"> Click Here</a>
                            </p>

                        </div>
                        <div class="col-sm-12 margin">
                            <h4>Jan 2014 </h4>

                            <h5 class="color">Sri Poorna Mahameru Trust, Tamilnadu</h5>
                            <p>
                                Vision2020 donated $2020 towards Construction of a sump to preserve drinking water to serve 100 old-age seniors <br><br>
                                For further details <a href="http://www.sripoornamahameru.org" target="_blank"> Click Here</a>
                            </p>

                        </div>
                        <div class="col-sm-12 margin">
                            <h4>April 2013</h4>

                            <h5 class="color">Sri Ramani Ranganayaki Trust, Tamilnadu</h5>
                            <p>
                                Vision2020 donated $3710 towards construction of modern toilets for Primary school children at the school .The toilets have now been completed and have provided immense benefit in the form of improved hygiene to the children.<br><br>
                                For further details <a href="http://www.sripoornamahameru.org" target="_blank"> Click Here</a>
                            </p>

                        </div>
                        <div class="col-sm-12 margin">
                            <h4>September 2012:</h4>

                            <h5 class="color">Adhar : Home for mentally impaired children, Nashik, Maharashtra</h5>
                            <p>
                                Adhar provides life long residential care for mentally challenged people, especially for people from poor background. Adhar is 18 years old and is currently taking care of 201 mentally challenged adults at Adhar Badlapur. There are more than 15 lacs mentally challenged people in India and more than 2 lacs in Maharastra itself. Therefore the need for residential care for such people is huge.<br><br>
                                Last week (6 Sept 2012), Vision2020 donated $11500 to procure a Tata Sumo ambulance vehicle fully equipped with all appropriate gadgetsfor use by Adhar. We anticipate that before the end of Sept 2012, the vehicle will be handed over to Adahar. Adhar is sure that this will be of great help in managing the health and life expectancy of its inmates. Robin Rajan of Sydney nominated the project for support.<br><br>
                                For further details <a href="http://www.adhar.org" target="_blank"> Click Here</a>
                            </p>

                        </div>
                        <div class="col-sm-12 margin">
                            <h5 class="color">Somalian Humanitarian Disaster Relief</h5>
                            <p>
                                Unprecedented humanitarian disaster has been unfolding in the East Africa about half a million are facing the risk of starvation and death. About 150,000 of them are children who go without food for days and weeks.<br><br>
                                The cause of the problem is both harsh natural climatic conditions, prolonged drought, poverty and politics. Regardless of the causes, it is simply inhuman to choose not to do anything about the situation.<br><br>
                                Therefore, as a one-off special category, Vision2020 decided to extend our assistance through the UNHCR Somalia Relief Appeal. We have donated $7,200 in Oct/Nov 2011 which was matched, dollar for a dollar, by the Australian Government. This means our contribution has doubled in value to $14,400.<br><br>
                                <span style="font-weight:600;"> Hopefully some lives will be saved with our contribution.</span>
                            </p>

                        </div>
                        <div class="col-sm-12 margin">
                            <h5 class="color">Guru Vishram Vridh Ashram (Old Age Home), New Delhi, India</h5>
                            <p style="text-align:center;font-weight:600;">Serving the Living Temple of God</p>
                            <p>
                                Guru Vishram Virdh Ashram in Delhi runs an old age home for elderly destitute suffering from disorders such as Alzheimer. Most of the Ashram’s inmates are people abandoned on the roadside by their poor families who are unable to take care of them. Such people usually do not even remember where they have come from. The number of abandoned destitutes have been increasing day by day in places like Delhi. Factors playing major role in increasing this number are Globalization, decreasing family values, nuclear families and other socio economic factors.<br><br>
                                There are many old age homes functioning in India that are either paid homes or they admit only those old persons who can care for themselves, and are mentally and physically fit. The Ashram has taken the initiative to serve bed ridden and mentally upset aged persons suffering from disorders like Alzheimer.<br><br>
                                Since the provision of funds a Vision2020 member from Delhi had visited the Ashram and reported that the ground breaking ceremony was held in Dec 2011 and the construction is about to start.<br><br>
                                <span style="font-weight:600;"> Vision2020 provided $15000 donation in June 2011 to Guru Vishram Vridh Ashram for starting the construction of new building at Garhmukteshwar (a small town close to New Delhi) for housing the increasing number of destitute people.</span><br><br>
                                <a href="http://www.oldagehomeindia.in/" target="_blank">Click here</a> for more information about Guru Vishram Vridh Ashram
                            </p>

                        </div>
                        <div class="col-sm-12 margin" id="test1">
                            <h5 class="color">Swami Vivekanand Kusta Seva Samithi Trust, Gulberga, Karnataka, India</h5>
                            <p style="font-weight:600;font-size:14px;">The Swami Vivekanand Kusta Seva Samithi Trust, situated near Gulberga, Karnataka manages the following three organisations:</p>
                            <p class="color-2">Sri Datta Bal Sevashram at Deval Ghangapur</p>
                            <p>This is a home for the healthy children of leprosy patients and beggars. They provide them with free food, shelter, education, clothing, medical aid and good culture. It is a well established and efficient home, operating from its own building and infrastructure and trained staff to look after them.</p>

                            <p class="color-2">Nand Gokul at Gulbarga</p>
                            <p>This is an orphanage. All the children are showered with love, affection and provided with good culture by the devoted Sisters, who are with them round the clock. These orphan children are given free education, food, clothing, shelter, medical aid, yoga and computer education. It is also a well established and efficient orphanage, operating from its own building and the infrastructure required to provide the services.</p>

                            <p class="color-2">Sandya Deep at Gulbarga </p>
                            <p>
                                This is an old age home for the destitute people. The main purpose of this project is to provide medical aid, food, shelter and peace of life at their last stages of life. The building is under construction and hence it not operational, yet. It is due to start by end of June 2011.<br><br>

                                The Swami Vivekanand Kusta Seva Samithi Trust requested assistance to purchase a vehicle that can be used to move people and goods for all the three organisations. A suitable vehicle will improve the efficiency and effectiveness of the organisation.<br><br>
                                Vision2020 has approved funding for the project. Funds will be sent as soon as the organisation sends details of the purchase of the vehicle that needs to have the following inscription on a prominent spot on the vehicle "Donated by Vision2020 Australian-Indians, Australia".
                            </p>



                        </div>
                        <div class="col-sm-12 margin">
                            <h5 class="color">Shiva Shanta Mother and child health Center, Coimbatore, India</h5>
                            <p style="font-weight:400;font-size:14px;text-align:center;"><i>"Three months to three years care", meaning, care of a child from three months of conception to three years of age, as these are the formative years of the child</i></p>

                            <p>
                                Despite great strides in medical research and services in India women and children are still remain very vulnerable. The maternal and infant mortality in India is one of the highest in the world. This situation is particularly distressing in the rural communities where their income and facilities are poor and unaffordable. Shiva Shanta Mother and child health Center takes a holistic view in helping this vulnerable section of our society. Through their various activities they reach out to marginalised people as a whole. The hospital provides free primary health care facility to poor rural pregnant women, new born and infants up to the age of three.<br><br>
                                Vision2020 provided $10,000 in Oct 2010 for the provision of stable power generation and supply to the hospital that would maintain power supply and facilitate emergency operations even during scheduled and unscheduled power cuts in the area. Some Vision2020 members visited the facility in Jan 2011 and noted working of a dedicated supply of a generator (marked with the inscription "Donated by Vision2020, Indians in Australia" prominently placed on it). We understand our contribution has already saved many babies’ and mothers’ lives.<br><br>

                                <span style="font-weight:600;"> Vision2020 bought a KV generator at a cost of Rs 4.5lacs and installed it on site in November 2010.</span><br><br>
                                <a href="http://shivanjali.in/?cat=3" target="_blank">Click here</a> for more information about Shiva Shanta Mother and child health Center
                            </p>

                        </div>
                        <div class="col-sm-12 margin">
                            <h5 class="color">Muscular Dystrophy Association, India</h5>
                            <p style="font-weight:400;font-size:14px;text-align:center;"><i>Finding solace and support for families of children with muscular dystrophy to lead a happy life</i></p>

                            <p>
                                MDA runs a school for children with Duchenne Muscular Dystrophy (DMD). Children with this condition are born normally but their muscles become weaker and are invariably wheel chair bound by the time they get to about 10 years of age.<br><br>
                                MDA sought help for making specifically designed multi purpose wheel chairs which a child can use as a transport to and from home to school as well as for remaining seated in that seat while at school. The wheel chair is suitable to going to the toilet. This wheel chair seat also has detachable writing pads for use at school. This versatile facility minimises the need for lifting heavy children in and out of the chair several times a day. This is a real boon for many poor parents who develop back problems as a consequence of lifting heavy children; this extends their working life and their earning capabilities.<br><br>
                                Vision2020 bought wheelchairs to the value of $10805 and handed over to MDA in 2010.The facility was visited by a number of Vision2020 members in 2010 and 2011 and they are fully satisfied with the use of our donation and the difference it has been making to the lives of many children as well as to the health of their poor parents.<br><br>
                                <a href="http://www.mdaindia.org/" target="_blank">Click here</a> for more information about Muscular Dystrophy Association
                            </p>

                        </div>
                        <div class="col-sm-12 margin">
                            <h5 class="color">Pravara Educational Trust, Hyderabad, India</h5>
                            <p style="font-weight:400;font-size:14px;text-align:center;"><i>An organization for people with Autism and those who care for them, providing a strong voice for autism.</i></p>

                            <p>
                                Pravara runs a school called Ananya Centre for Special Children. It is a learning centre mainly for children on Autism Spectrum, PDDNOS, NLD and any other language learning disorders. The Centre first tries to find either a full-time or a part-time place in mainstream schools or schools for children with special needs. If a placement cannot be found anywhere, the Centre provides education to those children who are denied admission both into mainstream schools and special schools.<br><br>
                                Pravara is seeking support for purchase of
                                <ol class="margin-bottom-20">
                                    <li class="list"> Sensory Integration Equipment (SIE) costing about INR 1 - 1.5 lakh</li>
                                    <li class="list"> Auditory Integration Equipment (ILS) costing about INR 1.5 - 2 lakh.</li>
                                </ol><br><br>
                                <a href="http://www.arc.org.in/meet_pravara.html" target="_blank">Click here</a>for more information about Pravara Educational Trust<br><br>
                                <span style="font-weight:600;">Vision 2020</span> purchased and delivered those equipment at a cost of A$ 6,350 to Pravara Educational Trust. Vision2020 member's family visited the centre in Jan 2011 and reported that the funding was used to equip the facility and the children are benefiting by its use.<br><br>
                            </p>
                        </div>
                        <div class="col-sm-12 margin">
                            <h5 class="color">Jyothis School for Children with Challenges, Kottayam, India</h5>
                            <p>
                                JYOTHIS is a special school for milestone delayed children with brain damages; especially cerebral palsy.<br><br>

                                Greenlife Charitable Trust (Regd.) came into being when a few philanthropic and dynamic employees of the Indian Banking sector, Indian Railways and few parents of disabled put their ideas and efforts together to lend a helping hand to the young disabled children. The development and healthcare of fellow human being of our nation is the foremost concern of the Trust with emphasis on children and youth with Cerebral Palsy and other childhood disabilities.<br><br>

                                <span style="font-weight:600;">Vision 2020 donated A$ 12,000.00</span> and bought a new specially fitted mini bus so that the disabled children can attend the special school more regularly and gain skills that should stand them in good stead. The vehicle was modified to cater to the special needs of children and commissioned on 14th December, 2009. A member of Vision2020 has visited the facility in 2009 and 2010 and reported a high level of satisfaction.<br><br>
                                <a href="http://www.jyothisschool.org/" target="_blank">Click here to see the pictures of the mini bus.</a><br><br>
                        </div>
                        <div class="col-sm-12 margin">
                            <h5 class="color">Sanmathi Bal Nikethan, Pune, India</h5>
                            <p>
                                Sanmathi Bal Nikethan is an located in Pune, India.	<a href="http://www.jyothisschool.org/" target="_blank"> For more details, please click here.</a><br><br>

                                <span style="font-weight:600;">Vision 2020 donated A$ 2,500.00</span> towards completion of a hostel building. The building was completed in and is in use. A relative of a Vision2020 member who lives in Pune provided the feedback.
                            </p>
                        </div>
                        <div class="col-sm-12 margin">
                            <h5 class="color">Vishranthi Home for Aged Destitute Women, Chennai, India</h5>
                            <p>
                                Vishranthi Charitable Trust started in 1977 is a registered organisation of repute in India. It maintains the Vishranthi Home for Aged Destitute Women at Palavakkam in Chennai. Vision 2020's enquiries through personal visits and contacts confirm the Home is efficiently run and has been providing excellent service to elderly women with little means and family support.<br><br>
                                <a href="http://webspace.webring.com/people/dv/vasudevanvrv/charity/vishra.htm" target="_blank"> For more details about Vishranthi click here</a><br><br>

                                <span style="font-weight:600;">Vision 2020 donated A$ 7,360.00 </span>for buying a Diesel Genrator to provide a stable and reliable power supply, as part of Vishranthi Home accommodation upgrade for elderly destitute women.

                        </div>
                        <div class="col-sm-12 margin">
                            <h5 class="color">AMMA Seva Samsthe - Ilakal, Karnataka, INDIA</h5>
                            <p>
                                AMMA has been serving the Orphans and destitute, in the town of Ilakal in the northern region of Karnataka state, India. Vision 2020 provided $3150 funding to complete the stalled construction work of the Hostel for orphanage, including six toilets and a hall. A Vision2020 member who hails from the area has been in regular contact with the organisation and has been providing excellent reports on the usefulness of the facility to the children.<br><br>
                                <a href="http://webspace.webring.com/people/dv/vasudevanvrv/charity/vishra.htm" target="_blank">   For more details click here</a><br><br>

                        </div>
                        <div class="col-sm-12 margin" id="three">
                            <h5 class="color">Hope For Himalayan Kids, Nepal</h5>
                            <p>
                                The SAHARA Children’s Home provides orphaned and abandoned children with a safe haven full of love. It tries to keep the children within the Home until they are educated to Class 10 (School Leaving Certificate age 16). After this, they try and secure scholarships to continue their study or to provide them vocational training to develop skills with which to build a bright future. The Home is operated by the Australian voluntary workers who were colleagues of a Vision2020 Member in Sydney. The Home manager provided a couple of reports on how the Vision2020 funding were utilised for the benefit of the children.<br><br>
                                <a href="http://www.hopeforhimalayankids.org/" target="_blank">   For more details of this project click here</a><br><br>
                                Vision 2020 provided $3,000 financial support for the purchase of:
                                <ol class="margin-bottom-20">
                                    <li class="list"> Bunk Beds</li>
                                    <li class="list"> Additional Bedding</li>
                                    <li class="list"> Rice Cooker and other kitchen items</li>
                                    <li class="list"> Constructing a new soak pit.</li>

                                </ol>
                        </div>
                        <div class="col-sm-12 margin">
                            <h5 class="color">Spastics Society of Karnataka</h5>
                            <p>
                                Spastics Society of Karnataka (SSK) started off as a branch of the Spastics Society of India in the year 1982, and went on to become autonomous in the year 1994.<br><br>
                                <span style="font-weight:600;">Vision 2020 donated A$ 1,000.00</span> for Spastics Society towards its day to day expenses.<br><br>
                                The last two projects are the starters for the Vision2020 efforts in helping worthwhile charity projects. Our funding model has since been developed to direct our support for the provision of essential infrastructure needs that are of vital importance for the provision of intended charity services to the poor and needy.<br><br>
                                <a href="http://www.spasticssocietyofkarnataka.org/" target="_blank">   For more details of this project click here</a>

                        </div>

                    </div>
                    <div class="col-md-4">
                        <aside class="sidebar">
                            <div class="widget">
                                <h4 class="widget-title">Categories</h4>
                                <ul style="padding-left:10px;list-style:none;">
                                    <li class="bottom"><p><a href="#test1" class="smoothScroll">Kedarnath Valley Project</a></p></li>
                                    <br>
                                    <li class="bottom"><p><a href="#test2" class="smoothScroll">NAV BHARAT JAGRITI KENDRA</a></p></li>
                                    <br>
                                    <li class="bottom"><p><a href="#test3" class="smoothScroll">MULTIPLE INITIATIVES TOWARDS UPLIFTMENT, BANGALORE</a></p></li>
                                    <br>
                                    <li class="bottom"><p><a href="#test4" class="smoothScroll">SRI POORNA MAHAMERU TRUST, TAMILNADU</a></p></li>
                                    <br>
                                    <li class="bottom"><p><a href="#test5" class="smoothScroll">SRI RAMANI RANGANAYAKI TRUST, TAMILNADU</a></p></li>
                                    <br>
                                    <li class="bottom"><p><a href="#test6" class="smoothScroll">ADHAR : HOME FOR MENTALLY IMPAIRED CHILDREN, NASHIK, MAHARASHTRA</a></p></li>
                                    <br>
                                    <li class="bottom"><p><a href="#test7" class="smoothScroll">SOMALIAN HUMANITARIAN DISASTER RELIEF</a></p></li>
                                    <br>
                                    <li class="bottom"><p><a href="#test8" class="smoothScroll">GURU VISHRAM VRIDH ASHRAM (OLD AGE HOME), NEW DELHI, INDIA</a></p></li>
                                    <br>
                                    <li class="bottom"><p><a href="#test9" class="smoothScroll">SWAMI VIVEKANAND KUSTA SEVA SAMITHI TRUST, GULBERGA, KARNATAKA, INDIA</a></p></li>
                                    <br>
                                    <li class="bottom"><p><a href="#test10" class="smoothScroll">SHIVA SHANTA MOTHER AND CHILD HEALTH CENTER, COIMBATORE, INDIA</a></p></li>
                                    <br>
                                    <li class="bottom"><p><a href="#test11" class="smoothScroll">MUSCULAR DYSTROPHY ASSOCIATION, INDIA</a></p></li>
                                    <br>
                                    <li class="bottom"><p><a href="#test12" class="smoothScroll">PRAVARA EDUCATIONAL TRUST, HYDERABAD, INDIA</a></p></li>
                                    <br>
                                    <li class="bottom"><p><a href="#test13" class="smoothScroll">JYOTHIS SCHOOL FOR CHILDREN WITH CHALLENGES, KOTTAYAM, INDIA</a></p></li>
                                    <br>
                                    <li class="bottom"><p><a href="#test14" class="smoothScroll">SANMATHI BAL NIKETHAN, PUNE, INDIA</a></p></li>
                                    <br>
                                    <li class="bottom"><p><a href="#test15" class="smoothScroll">VISHRANTHI HOME FOR AGED DESTITUTE WOMEN, CHENNAI, INDIA</a></p></li>
                                    <br>
                                    <li class="bottom"><p><a href="#test16" class="smoothScroll">AMMA SEVA SAMSTHE - ILAKAL, KARNATAKA, INDIA</a></p></li>
                                    <br>
                                    <li class="bottom"><p><a href="#test17" class="smoothScroll">HOPE FOR HIMALAYAN KIDS, NEPAL</a></p></li>
                                    <br>
                                    <li class="bottom"><p><a href="#test18" class="smoothScroll">SPASTICS SOCIETY OF KARNATAKA</a></p></li>
                                    <br>
                                </ul>
                            </div>

                        </aside>
                    </div>
                </div>
            </div>
        </section>

    </div>



    <section class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4>Under Vision 2020 achievements, so far: </h4>

                    <p>Vision2020 members and supporters have funded <span class="span-2"> multiple </span> charity projects so far. All projects have been fully completed. Consistent with the Vision2020 charter, the funds were provided to augment infrastructure facilities of for the supported organisations.</p>
                </div>
                <div class="col-md-12 margin">
                    <h5 class="margin-2" style="text-align:left;color: #72c02c;">The 16 projects funded are:</h5>

                    <div class="col-md-7">
                        <ol class="margin-bottom-20">
                            <li class="list">Hope for Himalayan Kids, Nepal (orphanage & children without support)</li>
                            <li class="list">AMMA Seva Samsthe, Karnataka (orphanage & children without support)</li>
                            <li class="list"> Spastic Society of Karnataka</li>
                            <li class="list"> Vishranthi Old Age Home, Chennai (Destitute old women)</li>
                            <li class="list">  Sanmathi Bal Nikethan, Pune (orphanage & children without support)</li>
                            <li class="list">Jyothis School for children with cerebral palsy, Kerala (school for children with mental disability)</li>
                            <li class="list">Muscular Dystrophy Association (supporting children afflicted with muscular dystrophy)</li>
                            <li class="list"> Shiva Shanta Mother and child health Center, (serving poor expectant mother and new born) </li>
                            <li class="list"> Ananya Centre for Special Children, Hyderabad (children with autism)</li>
                            <li class="list">  ADHAR , Maharashtra - Home for Mentally Impaired Children - Purchase of Van</li>
                            <li class="list"> Guru Vishram Vridh Ashram (Old Age Home), New Delhi, India</li>
                            <li class="list">Somalian Human Disaster Relief Fund (UNICEF)</li>
                            <li class="list"> Sri Vidyasram School, Rural Thanjavur Dist., Tamilnadu - Construction of Toilets</li>
                            <li class="list"> Multiple Initiatives Towards Upliftment (MITU) - Purchase of Van and Construction of Incinerators for Sanitary pad disposal in schools in rural Karnataka</li>
                            <li class="list"> Sri Poorna Mahameru Trust, Tamilnadu - construction of a sump to preserve drinking water to serve   one hundred old-age seniors.</li>
                            <li class="list"> Nav Bharat Jagriti Kendra - Construction of an Eye-care Vision Centre in Jharkhand.</li>
                        </ol>
                    </div>
                    <div class="col-md-5" style="margin-top: 10%;">
                        <img src="/assets/images/a6.jpg" class="img-responsive">
                    </div>
                </div>




            </div>
        </div>
    </section>
