
@{
    ViewBag.Title = "Index";
}

<section class="page-title">
    <div class="bg-overlay"></div>
    <div class="bg-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 page-title-inner">
                <h2>Mission to Help the NEEDY!</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="page-location clearfix">
                    <div class="location">
                        <h6><a href="index-2.html">Home</a></h6>
                        <h6><a href="blog.html">Blog Entries</a></h6>
                        <h6>The Stream of the Dying</h6>
                    </div>
                    <div class="back-home hidden-xs hidden-sm"><a href="index-2.html">&larr; Back to Home</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="page-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row section-header" style="text-align:center;">
                    <h5 class="color">
                        Vision2020 Gift Cheque for all occasions
                    </h5>
                </div>
                <div class="col-sm-12 margin">

                    <p>Vision2020 gift cheque of $10, $20, $50 & $100 denominations that can be used for all occasions such as birthdays, anniversary celebrations, marriage celebrations and other family, social and religious occasions are available (an option that hosts can suggest). This will be a nice way of helping those who are not fortunate to celebrate anything in their life. It will also help invitees as they usually struggle to find something suitable for such occasions and spend hours looking for gifts.</p>
                    <ul>
                        <li><a href="#" target="_blank"> Click Here</a> to download Annual membership form.</li>
                        <li><a href="#" target="_blank"> Click Here</a>  to download Life membership form.</li>
                    </ul>

                </div>




            </div>

        </div>

    </div>
</section>

