
@{
    ViewBag.Title = "Index";
}


<section class="page-title">
    <div class="bg-overlay"></div>
    <div class="bg-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 page-title-inner">
                <h2>Mission to Help the NEEDY!</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="page-location clearfix">
                    <div class="location">
                        <h6><a href="index-2.html">Home</a></h6>
                        <h6><a href="blog.html">Blog Entries</a></h6>
                        <h6>The Stream of the Dying</h6>
                    </div>
                    <div class="back-home hidden-xs hidden-sm"><a href="index-2.html">&larr; Back to Home</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="page-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="col-sm-12 margin" style="text-align:center;">

                    <p>VISION 2020 Incorporated Annual General Meeting</p>
                    <p>13-July-2014, 2:00 PM to 3:30 PM Held at Small Hall,  Pennant Hills Community Centre & Library</p>
                    <p>70 Yarrara Road, Pennant Hills , NSW 2120</p>
                    <p style="text-decoration:underline;">Minutes of the Meeting </p>
                </div>
                <div class="col-sm-12 margin">

                    <h5 class="color-3"> 1. A total of 29 members attended the meeting.</h5>
                </div>

                <div class="col-sm-12 margin">

                    <h5 class="color-3">2. Report on 2013/14 Activities</h5>
                    <p>President Robin welcomed the members and others and opened the meeting.  Robin reviewed the Vision 2020 activities for the year 2013/14 and said it was a very successful year in several respects including the growing profile of Vision2020, increased membership and the successful donation of funds to worthy and well deserving projects. Robin insisted on the importance of continued support from the members through attendance of Vision2020 events without failure to boost the collection of funds, and make each event successful.  Robin also thanked the founder members of the organisation for their vision and effort to grow Vision2020 to its current level.</p>
                    <p>The following fund raising events were organised in the financial year 2013-14:</p>
                    <p>1. Diwali celebrations, 2 Nov 2013</p>
                    <p>2. Walkathon 2014 ,   4  May 2014</p><br>

                    <p>Three projects were funded last year :</p>
                    <p>1. MITU Bangalore – this involved purchasing a Van and Incinerators to be installed in 15 schools in remote areas of Karnataka, India for a total of $7318, drawn out of proceeds from last year Diwali function.</p>
                    <p>2. Construction of a sump to provide drinking water to an old age home in Chennai, approximately $2000</p>
                    <p>3. Funding provided for Nav Bharat Jagriti Kendra, Bihar, India to construct an Eye-hospital - total donation of $16,000</p>
                    <p>Looking ahead, Robin mentioned that 2014 Diwali dinner event was scheduled for 18th October.</p>

                </div>

                <div class="col-sm-12 margin">

                    <h5 class="color-3">3.       Financial Report for 2013/14</h5>
                    <p>Latha presented the un-audited Financial Report for 2013-14 to members for review, copy attached for circulation.  Latha pointed out that the current bank balance is considered surplus for an organisation of our size and suggested that the Committee should endeavour to locate good projects to disperse the funds to. This was agreed to by Robin and the Committee.</p>

                </div>
                <div class="col-sm-12 margin">

                    <h5 class="color-3">4.       Election of Management Committee & Other Committees</h5>
                    <p>The management committee and other positions were open for nominations. Some nominations were received prior to AGM while more nominations were sought during the AGM. A new Management Committee and other committees were appointed during the AGM.</p>

                </div>
                <div class="col-sm-12 margin">

                    <h5 class="color-3">5.       New Constitution wef 1st July 2014.</h5>
                    <p> A copy of the new constitution was presented and circulated among the members during the meeting. It was noted that the draft constitution was already emailed to all members two months prior to the meeting. Several responses received from the members have been considered and some adopted.  It was noted that adoption of the Constitution required approval from 75% of members for a special resolution to be passed. Members attending the AGM approved the new constitution in principle. A current and updated version was agreed to be emailed to all members for a final review and approval. Members were encouraged to read the constitution and get back with any comments/suggestions/approval within the end of July to enable lodgement with the regulatory authorities within 28 days from the AGM.</p>

                </div>
                <div class="col-sm-12 margin">

                    <h5 class="color-3">6.       Set up of an In-Country Partnership Wing in India.</h5>
                    <p> It was noted that the Committee has approved the set-up of a Partnership Organisation in India. This initiative is in its preliminary stages now. Nagu mentioned that several structures have been considered and a Professional has been identified in India who will be taking care of the setup.  It was noted that the developments could take time owing to the complexity and the procedural requirements involved with starting an NGO in India. Nagu pointed out the long term merits in this new initiative.</p>

                </div>
                <div class="col-sm-12 margin">

                    <h5 class="color-3">  7.       New Members since last AGM</h5>
                    <p>The membership grew in 2013-14 with increased activities and exposure. Latha noted that there were 25 new Life Members since last AGM.</p>

                </div>
                <div class="col-sm-12 margin">

                    <h5 class="color-3">8.       Closure of Meeting</h5>
                    <p> Robin thanked the members for their strong dedication and excellent support and welcomed the new Management committee.  The meeting was closed at 3:30 PM.</p>

                </div>

            </div>

        </div>

    </div>
</section>

