
@{
    ViewBag.Title = "Index";
}

<section class="page-title">
    <div class="bg-overlay"></div>
    <div class="bg-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 page-title-inner">
                <h2>Mission to Help the NEEDY!</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="page-location clearfix">
                    <div class="location">
                        <h6><a href="index-2.html">Home</a></h6>
                        <h6><a href="blog.html">Blog Entries</a></h6>
                        <h6>The Stream of the Dying</h6>
                    </div>
                    <div class="back-home hidden-xs hidden-sm"><a href="index-2.html">&larr; Back to Home</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="page-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row section-header" style="text-align:center;">
                    <h5 class="color">Donate</h5>
                </div>
                <div class="col-sm-12 margin">

                    <p>If you believe the helpless and miserable conditions of millions of people MUST be changed please become part of VISION 2020. There are so many ways you can help and here are some suggestions:</p><br>
                    <p><b>Make a donation:</b></p>
                    <p>One off or regular monthly donation for as little as $10 you can make a positive change in a child's life. <a href="#" target="_blank"> Click Here</a> to send donation.</p><br>
                    <p>You can make direct deposit to the following Vision 2020 bank account:</p><br>
                    <p><b>Account Name:</b>   Vision2020 Incorporated</p>
                    <p><b>BSB:</b>082001</p>
                    <p><b>Account Number: </b>863043540</p><br>
                    <p>
                        Alternatively, you can send your donation using the doantion form.<a href="#" target="_blank"> Click Here</a> to download the donation form.
                    </p>


                </div>




            </div>

        </div>

    </div>
</section>


