
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "The Need";
}


<div class="boxed">
   
    <section class="page-title">
        <div class="bg-overlay"></div>
        <div class="bg-image"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 page-title-inner">
                    <h2>The need</h2>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-location clearfix">
                        <div class="location">
                            <h6><a href="index-2.html">Home</a></h6>
                            <h6>The need</h6>
                        </div>
                        <div class="back-home hidden-xs hidden-sm"><a href="index-2.html">&larr; Back to Home</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-sm-12">
                        <h3>The need </h3>
                        <span class="line-seperator"></span>
                        <p>
                            If you are seeing this page, you are one of the fortunate ones. Look around you. You will realise that you live in a very unequal world.<br><br>
                            While the majority of people in wealthy countries have plenty, billions of children are denied their most basic needs - daily food, basic shelter, clean water and sanitation, health care, and basic education.<br><br>
                            Every day 35,000 children die of starvation and diseases related to malnutrition. 1.375 billion do not have the basic necessities of life. They exist in a makeshift shack without proper nutrition or basic medical attention. Does this matter to you ?
                        </p>
                    </div>
                    <div class="col-sm-12">
                        <h3>The Child </h3>
                        <div class="col-sm-7">

                            <span class="line-seperator"></span>
                            <p>
                                The focus of VISION 2020 is initially on children because all the studies in the field confirm that children are the hardest hit by poverty. Furthermore, childhood is the most crucial development period in an individual’s life. It is when an individual’s physical, mental, emotional and social development and growth takes place. Studies indicate that damage to a child’s growth at this stage cannot be overcome later in life, and poor children are likely to pass poverty onto their children, perpetuating the cycle. Poverty reduction must begin with children. Few would disagree child poverty must be addressed or even eliminated.<br><br>
                                We think it's important to communicate the underlying values behind our work because strong relationships are built on shared values. If you share our values we hope you will join with us and be a part of our plan.
                            </p>
                        </div>
                        <div class="col-sm-5 margin">
                            <img src="/assets/images/a8.jpg" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <h3>The Aged </h3>
                        <div class="col-sm-7">

                            <span class="line-seperator"></span>
                            <p>
                                Older people are the most vulnerable as they face multiple problems - a combination of low or no income, lack of or poor housing, lack of access to services, mental health problems, physical health problems, lack of social networks, and lack of basic skills/understanding of the system that is rapidly changing. As a consequence poverty, poor health and social exclusion amongst older people are on the increase worldwide. Regrettably some of them are forced to live with little human dignity.<br><br>
                                After spending their entire life working hard and supporting their family, friends and neighbourhood, increasing number of them are finding little support at the twilight of their life. Unfortunately they do not rank high on the priority list of governments and communities and even family members have little time to help them. Among them the most vulnerable groups are older single women, those living in rural communities or in areas that have seen considerable change.
                            </p>
                        </div>
                        <div class="col-sm-5 margin">
                            <img src="/assets/images/a9.jpg" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</div>
<div id="donate-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Donation Form</h4>
            </div>
            <div class="modal-body">
                <div class="form-group pricing">
                    <h6 class="modal-subtitle">How much would  you like to donate?</h6>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default active">$10</button>
                        <button type="button" class="btn btn-default">$20</button>
                        <button type="button" class="btn btn-default">$100</button>
                        <button type="button" class="btn btn-default">$200</button>
                        <button type="button" class="btn btn-default">$500</button>
                        <input type="text" placeholder="Other Amount">
                    </div>
                </div>
                <div class="form-group">
                    <h6 class="modal-subtitle">Personal Information</h6>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <input type="text" id="name" placeholder="First Name">
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <input type="text" id="name" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <input type="email" id="email" placeholder="Email">
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <input type="tel" id="email" placeholder="Phone">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <textarea id="message" placeholder="Address"></textarea>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <textarea id="additional" placeholder="Additional Note"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <button type="button" class="btn btn-accent">Donate Now</input>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


