
@{
    ViewBag.Title = "Index";
}

<section class="page-title">
    <div class="bg-overlay"></div>
    <div class="bg-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 page-title-inner">
                <h2>Mission to Help the NEEDY!</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="page-location clearfix">
                    <div class="location">
                        <h6><a href="index-2.html">Home</a></h6>
                        <h6><a href="events.html">Upcoming Events</a></h6>
                        <h6>Rita Hayworth Gala - Chicago</h6>
                    </div>
                    <div class="back-home hidden-xs hidden-sm"><a href="index-2.html">&larr; Back to Home</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-content event-single">
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row section-header" style="text-align:center;">

                                    </div>

                                    <div class="col-sm-12 margin">
                                        <h4 class="widget-title">UPCOMING EVENT</h4>
                                        <span class="line-seperator"></span>

                                        <p>Fund raising program on <b>May 13th 2017 at Castle Grand Pavilion Hill, Castle Hill.</b></p><br>
                                        <img src="assets/images/a10.jpg" alt="">
                                    </div>




                                </div>
                            </div>

</section>

