
@{
    ViewBag.Title = "Index";
}


<section class="page-title">
    <div class="bg-overlay"></div>
    <div class="bg-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 page-title-inner">
                <h2>Contact Us</h2>
                <p class="subtitle">This is a Awesome Subtitle here</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="page-location clearfix">
                    <div class="location">
                        <h6><a href="index-2.html">Home</a></h6>
                        <h6>Contact Us</h6>
                    </div>
                    <div class="back-home hidden-xs hidden-sm"><a href="index-2.html">&larr; Back to Home</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

@*<div class="contact-map"></div>*@
<section class="contact-section">
    <div class="container">
        <div class="row section-header">
            <div class="col-sm-12">
                <h3>Contact Form</h3>
                <span class="line-seperator"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="contact-form" id="contact">
                    <div id="result"></div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <input type="text" name="name-id" id="name-id" placeholder="First Name">
                                <input type="text" name="surname-id" id="surname-id" placeholder="Last Name">
                                <input type="email" name="email-id" id="email-id" placeholder="Email Address">
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <textarea name="message-id" id="message-id" placeholder="Message"></textarea>
                                <button id="submit-contact" type="button" class="btn btn-accent">Send Message</input>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <p>American Apparel ennui hashtag locavore High Life Schlitz Carles kitsch cold-pressed selvage Bushwick.</p>
                <br>
                <p><i class="fa fa-map-marker"></i>&nbsp;&nbsp;&nbsp;782 Stiles Street Pittsburgh, PA 15219</p>
                <p><i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;<a href="mailto:your@charity.com">your@charity.com</a></p>
                <p><i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp; 412-566-1789</p>
            </div>
        </div>
    </div>
</section>

